@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,300&family=Lato:ital,wght@0,400;0,700;1,400&family=Rajdhani&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #d9dce6;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.2)), url(../img/point-of-sale-system.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 60px;
}

.form-control {
    background-color: rgba(177, 187, 190, 0.9);
}

.navbar {
    background-color: rgba(11, 36, 44, 0.7);
    top: o;
}

.card {
    background-color: rgba(11, 36, 44, 0.9);
}

.footer {
    margin-top: auto;
    background-color: rgba(11, 36, 44, 0.6);
    padding: 2em;
}