@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,300&family=Lato:ital,wght@0,400;0,700;1,400&family=Rajdhani&display=swap');

body {
    line-height: 1.8;
    color: #898fa1;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.form-control {
    background-color: rgba(177, 187, 190, 0.9);
}

.navbar {
    background-color: rgba(11, 36, 44, 0.7);
}

#Login-form {
    
}


#Welcome {
    background: linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.2)), url(../img/point-of-sale-system.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    background-color: rgba(11, 36, 44, 0.9);
}

.footer-top {
    display: inline-block;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 25px;
    background-color: rgba(11, 36, 44, 0.6);
}

.footer-top .social-icons {
    
    width: 30px;
    height: 30px;
}

footer .footer-links a,
.footer-top .social-icons a {
    color: #ffffff;
}

footer .social-icons a:hover,
.footer-top .footer-links a:hover {
    color: #E93B81;
}