@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@1,300&family=Lato:ital,wght@0,400;0,700;1,400&family=Rajdhani&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #d9dce6;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    background: linear-gradient(rgba(17, 36, 90, 0.2), rgba(17, 36, 90, 0.2)), url(../img/point-of-sale-system.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 60px;
}

.form-control {
    background-color: rgba(177, 187, 190, 0.9);
}

.navbar {
    background-color: rgba(11, 36, 44, 0.5);
    top: 0;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    border: 1px solid rgb(255, 255, 255);
}

.card {
    background-color: rgba(11, 36, 44, 0.9);
}

.footer {
    margin-top: auto;
    background-color: rgba(11, 36, 44, 0.6);
}